* {
    padding: 0;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

button {
    color: white;
    background-color: black;
    border: 4px dotted black;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 1% auto;
}

button:hover {
    background-color: darkgray;
}

image {
img {
    height: auto;
    width: 4%;
    /* display: block;
    margin: auto; */
}
button:active {
    background-color: red;
    transform: translateY(2px);
}

.bio {
    font-style: italic;
    color: gray;
    margin: auto;
    text-align: right;
}

.video {
    margin: auto;
    font-weight: bold;
    text-align: left;
}

a {
    color: red;
    text-decoration: underline;
}
