* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* makes it easier to style elements */
}

button {
    color: white;
    background-color: black;
    border: 4px dotted black;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
}

button:hover {
    background-color: darkgray;
}

image {
    height: auto;
    width: 4%;
    display: inline;
    margin: auto;
}

button:active {
    background-color: red;
    transform: translateY(2px);
}

.bio {
    font-style: italic;
    color: gray;
    margin: right;
}

.video {
    margin: left;
    font-style: bold;
}

a {
    color: red;
    text-decoration: solid underline;
}
